<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Foto diaria </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-input [(ngModel)]="description"></ion-input>
  </ion-item>
  <ion-item class="imagen">
    <ion-label>Imagen</ion-label>
    <ion-button (click)="takePhoto()">Tomar Foto</ion-button>
  </ion-item>
  <ion-item class="imagen">
    <img *ngIf="photo" [src]="photo" alt="Photo" />
  </ion-item>
  <ion-button [disabled]="isButtonDisabled" (click)="saveImage();"
    >Guardar</ion-button
  >
  <!-- <p *ngIf="isButtonDisabled">Proxima foto en: {{ countdown }} segundos</p> -->

  <div *ngIf="images.length > 0">
    <h2>Imágenes guardadas</h2>
    <ion-item *ngFor="let image of images" class="saved-image-item">
      <div class="saved-image-content">
        <p>{{ image.description }}</p>
        <img [src]="image.image" alt="Saved Photo" />
        <p>{{ image.date }}</p>
        <ion-button color="danger" (click)="deleteImage(image.id)"
          >Eliminar</ion-button
        >
      </div>
    </ion-item>
  </div>

  <div>
    <ion-button (click)="toggleIntegrantes()">Mostrar integrantes</ion-button>
    <div *ngIf="showIntegrantes">
      <ion-item *ngFor="let integrante of integrantes">
        <p>{{integrante.nombre}} {{integrante.apellido}}</p>
      </ion-item>
    </div>
  </div>
</ion-content>
